<div class="error" *ngIf="error">{{error}}</div>

<div class="student-detail">

  <div [hidden]="!formShowing">
    <form *ngIf="student" (ngSubmit)="save()" #studentForm="ngForm">
      <md-card>
        <md-card-title>Edit student</md-card-title>
        <md-card-content>
          <table style="width: 100%" cellspacing="0">
            <tr>
              <td><md-input [(ngModel)]="student.first_name" name="first_name" placeholder="First name" required></md-input></td>
              <td><md-input [(ngModel)]="student.last_name" name="last_name" placeholder="Last name"></md-input></td>
            </tr>
          </table>
          <md-radio-group [(ngModel)]="student.gender" name="gender">
            <md-radio-button value="Male">Male</md-radio-button>
            <md-radio-button value="Female">Female</md-radio-button>
          </md-radio-group>
        </md-card-content>
        <md-card-actions align="end">
          <button md-button (click)="toggleForm()" type="button">CANCEL</button>
          <button md-raised-button color="accent" [disabled]="!studentForm.form.valid" type="submit">SAVE</button>
        </md-card-actions>
      </md-card>
    </form>
  </div>

  <div *ngIf="student" [hidden]="formShowing">
    <md-card>
      <md-card-title-group>
          <md-card-title>{{ student.first_name }} {{ student.last_name }}</md-card-title>
          <md-card-subtitle>{{ student.gender }}</md-card-subtitle>
          <img md-card-md-image>
      </md-card-title-group>
      <md-card-content>
      <p>This is supporting text.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </md-card-content>
      <md-card-actions align="end">
        <button md-button (click)="toggleForm()">EDIT</button>
      </md-card-actions>
    </md-card>
  </div>
</div>

<!--
<div class="students-list">
  <md-nav-list>
    <a md-list-item *ngFor="let student of students" (click)="gotoStudentDetail(student)">
      <img md-list-avatar *ngIf="student.picture" src="..." alt="...">
      <md-icon md-list-icon *ngIf="!student.picture">person_outline</md-icon>
      <span md-line>{{ student.first_name }} {{ student.last_name }}</span>
      <button md-icon-button (click)="deleteStudent(student, $event)">
        <md-icon align="end" class="delete-icon red">delete</md-icon>
      </button>
    </a>
  </md-nav-list>

  <div class="add-student">
    <button md-fab color="primary" (click)="toggleForm()">
      <md-icon>add</md-icon>
    </button>
  </div>

  <div class="form" *ngIf="formShowing">
    <form #studentForm="ngForm">
      <md-card>
        <md-card-title>Add student</md-card-title>
        <md-card-content>
          <table style="width: 100%" cellspacing="0">
            <tr>
              <td><md-input [(ngModel)]="student.first_name" name="first_name" placeholder="First name"></md-input></td>
              <td><md-input [(ngModel)]="student.last_name" name="last_name" placeholder="Last name"></md-input></td>
            </tr>
          </table>
          <md-radio-group [(ngModel)]="student.gender" name="gender">
            <md-radio-button value="Male">Male</md-radio-button>
            <md-radio-button value="Female">Female</md-radio-button>
          </md-radio-group>
        </md-card-content>
        <md-card-actions align="end">
          <button md-button (click)="toggleForm()">CANCEL</button>
          <button md-raised-button (click)="addStudent()" color="accent" [disabled]="!studentForm.form.valid" type="submit">ADD</button>
        </md-card-actions>
      </md-card>
    </form>
  </div>
</div>
-->
